<p>list of Articles came from Author<p>

<p><%= link_to "Click to see Requests from Author", display_requests_by_author_path(current_user)%>
<p><%= link_to "Click to see Requests from Publisher", display_requests_by_publisher_path(current_user)%></p>